@charset "utf-8";

/*base*/
body,ul,li,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0;padding:0;}
body{font:normal 18px "SUITE", "GLD Display";background: #000;}
img{border:0;vertical-align: top;}
ul{list-style: none;}
a{text-decoration: none;}

#wrap{width:100%;overflow: hidden;}

.header{width: 100%;height: 98px;}
.header .header_in{width: 90%;margin: 0 auto;}
.header .header_in div{float: left;}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.logo {
  flex: 1 0 auto;
  text-align: left; /* Align the logo to the left */
  margin-top: 20px;
}

.logo img {
  height: 50px;
}

.nav{float: right;margin-top: 30px;}
.nav li{float: left;;margin-right: 20px;}
.nav li:last-child{margin-right: 0px;}
.nav li a{color: #ffff;font-size: 24px;font-weight: bold;}
.nav li .btn{float: left;border: 2px solid #fff;box-sizing: border-box;padding: 10px 20px;
  border-radius: 30px;cursor: pointer;font-family: 'Gasoek One', sans-serif;font-weight: normal;color: #fff;
position: relative;top: -8px;}


/*footer*/
.footer{width: 100%;overflow: hidden;color: #fff;border-top: 2px solid #fff;}
.footer .title1{font-family: 'Gasoek One', sans-serif;font-weight: normal;color: #fff;}
.footer .title2{color: #757575;line-height: 1.7;}
.footer .title3{color: #757575;line-height: 1.7;}

.footer .footer_menu dl{margin-top: 20px;}

.footer .footer_menu{width: 100%;margin: 0px auto;overflow: hidden;}

.footer .footer_copy{width: 100%;margin: 0px auto;overflow: hidden;}





